body {
  width: 90vw;
  margin: 9vh auto;
  background-color: antiquewhite;
  color: black;
}

#selectInputContainer {
  display: flex;
  gap: 3vw;
  align-items: center;
  justify-content: space-evenly;
}

#generateTable {
  display: none;
  text-align: center;
  width: 60vw;
  margin: 9vh auto 0 auto;
}

#addRows {

  width: 60vw;
  margin: 3vh auto 0 auto;
}

#addRows [type="submit"] {
  margin: auto auto;
  margin-top: 2vh;
}

#tableRow .deleteRowButton {
  display: none;
}