body {
  width: 80vw;
  margin: 9vh auto;
  background-color: antiquewhite;
  color: black;
}

/* start of getting input from user */
#getUserInputDiv {
  display: flex;
}

#selectInputContainer {
  width: fit-content;
  text-align: left;
}

#selectInputContainer div {
  margin-bottom: 2vh;
}

#selectInputContainer div input {
  float: right;
}

#selectInputContainer label {
  padding-right: 2vh;
}

#selectInputActionButton {
  display: flex;
  justify-content: space-evenly;
}

#selectInputContainer div:nth-child(4) {
  display: none;
}

#selectInputContainer button {
  margin-top: 2vh;
}

#selectInputContainer #updateValueButton {
  display: block;
  margin: auto auto;
  margin-top: 2vh;
}

#generateTable {
  display: none;
  text-align: center;
  width: fit-content;
  margin: 9vh auto 0 auto;
}

#addRows {
  margin: 3vh auto 0 auto;
}

#addRows div {
  margin: 1vh auto;
  overflow: hidden;
}

#addRows .newEntry,
#addRows input {
  float: left;
  margin-right: 1vw;
}

/* start of result part */
#addRows [type="submit"] {
  margin: auto auto;
  margin-top: 2vh;
}

#tableRow {
  display: block;
}

#tableRow .deleteRowButton {
  display: none;
}

#resultedTable {
  display: table;
  margin: 5vh auto 0 auto;
  border: 2px solid #b5b5b5;
  border-collapse: collapse;
}

#resultedTable tr:first-child {
  font-weight: bold;
  text-align: center;
}

#resultedTable tr {
  border: 1px solid #b5b5b5;
  border-collapse: collapse;
}

#resultedTable tr td {
  padding: 0.2rem 0.5rem;
  border: 1px solid #b5b5b5;
  border-collapse: collapse;
}